<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod08lab2mka</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>FTPMod6Lab2MKA</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>Password123!</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>