<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyonderMod10Demo3GWmka</PublishSiteName>
    <UserName>$blueyonderMod10Demo3GWmka</UserName>
    <Password>QEmTNse4gc3E7xmLDpeFBa9YtPmQZSfWn08Gg9P99bXavJLAZv94YTorRGiG</Password>
  </PropertyGroup>
</Project>