<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod08Demo5mka</PublishSiteName>
    <!--[App Service Url]-->
    <UserName>$blueyondermod08Demo5mka</UserName>
    <!--[FTP/Deployment UserName]-->
    <Password>ETgkJHjdELeCqdppww5kcfZDRuomkB1nFQbDR5DSEXMcRwm4RsMjDCy5ehPc</Password>
    <!--[Password]-->
  </PropertyGroup>
</Project>