<Project>
  <PropertyGroup>
    <PublishProtocol>Kudu</PublishProtocol>
    <PublishSiteName>blueyondermod10lab2t2mka</PublishSiteName>
    <UserName>$blueyondermod10lab2t2mka</UserName>
    <Password>PqREfpvwygmobidDZeikvCE6JJNzch2e5H1ys96fHoNgscCF4CQ8Jrqmp9n0</Password>
  </PropertyGroup>
</Project>